/* table spacing */
#rawes-data {
    width: 90%; 
}
table {
    width: 100%; 
    text-align: center;
    margin-bottom: 20px ; 
}
tr div {
    float: right;
    margin-right: -50px; 
    width: 50px;
    height: 25px; 
    height: 100%; 
}
tbody th{
    width: 30%; 
    font-weight: bold;
}
tbody td {
    width: 12%; 
}

/* title textareas boxes */
th textarea {
    width: 100%; 
    border: none;
    background: none;
    font-weight: bold;
}
/* table background colours */
thead {
    background-color: black;
    color: white; 
}
tr:nth-child(even) th textarea {
    color: white; 
}
/* provisioning table */
#provisioning tbody tr:nth-child(even) {
    background-color: rgb(42 88 42);
}
#provisioning tbody tr:nth-child(odd) {
    background-color: #a6d0a6;
}

/* regulating table */
#regulating tbody tr:nth-child(even) {
    background-color: #18188f;
}
#regulating tbody tr:nth-child(odd) {
    background-color: lightblue;
}

/* cultural table */
#cultural tbody tr:nth-child(even) {
    background-color: rgb(121, 121, 19);
}
#cultural tbody tr:nth-child(odd) {
    background-color: rgb(255, 255, 195);
}

/* supporting table */
#supporting tbody tr:nth-child(even) {
    background-color: hwb(0 5% 59%);
}
#supporting tbody tr:nth-child(odd) {
    background-color: rgb(226, 181, 188);
}

/* button styling */
#form-date {
    margin: 10px; 
    height: 40px;
    font-size: 1.2rem;
}
#submit-button {
    background-color: black;
    color: white;
    height: 50px; 
    width: 100px; 
    font-size: x-large;
    cursor: pointer;
}
#main-tab table button {
    border-radius: 50%;
    border: none; 
    width: 45%; 
 
 }
 #new-row-bttn {
     background-color: green;
 }
 .delete-row {
     background-color: red;
 }