#confirm-delete-modal {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%; 
    background-color: black;
    border: 2px solid red;
    border-radius: 10px;
    color: white;
}

.provisioning-bar {
    fill: var(--color-provisioning); 
}
.regulating-bar {
    fill: var(--color-regulating); 
}
.cultural-bar {
    fill: var(--color-cultural); 
}
.supporting-bar {
    fill: var(--color-supporting); 
}