#root {
  margin: 0;
  padding: 0;
  text-align: center;
  --color-provisioning: rgb(42 88 42);
  --color-regulating:  rgb(24, 24, 143);
  --color-cultural: rgb(121, 121, 19);
  --color-supporting: rgb(105, 13, 13);
}

.body {
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-bttn {
  background-color: red;
  color: white; 
  border: none;
  border-radius: 3px;
  padding: 3px 10px; 
}